<div id="header">
    <h2>Video Rental</h2>
    <a href="@Url.Action("Logout","Login")">Logout</a>
    <a href="@Url.Action("CurrentRentals","Rental")" class="tab">Current Rentals</a>
    <a href="@Url.Action("History","Rental")" class="tab">History</a>
    <a href="@Url.Action("Index","Home")" class="tab">Rent Movies</a>
</div>
